<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VerbaWidgetExtensionExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>verba.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD5301312E1A0FE4008AB543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD53FDDF2E18F17C008AB543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD53FDEF2E18F17E008AB543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD53FDF92E18F17E008AB543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
